.page {
    background-color: #111111;
    padding-bottom: 20px;
}

.page h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

hr.wide{
    background-color: white;
    width: 80vw;
    height: 2px;
    color: white;
    position: relative;
    left: 10vw;
    margin-bottom: 25px;
}

hr{
    background-color: white;
    width: 60vw;
    height: 2px;
    color: white;
    position: relative;
    left: 20vw;
}