.home {
    background-color: #222222;
    display: flex;
    flex-direction: row;
}

* {
    font-family: 'Courier New', Courier, monospace;
  }

#header {
    position: absolute;
    z-index: 999;
    padding-left: 5vw;
    top: 12vh;
    width: 40vw;
    color: white;
}

#header h1 {
    margin-bottom: 3.5vh;
    color: white;
    text-align: left;
    font-size: 5vh;
}

#header h3 {
    animation: fadeInAnimation ease 5s;
    margin-bottom: 2vh;
    font-size: 3.4vh;
}

#header a, a:hover {
    text-decoration: none;
    color: inherit;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.oracle {
    color: #C74634;
}

.meta {
    color: #0668E1;
}

.mdb {
    color: #ffda3b;
}

.tekplay {
    color: #0074bd;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

#world {
    overflow: hidden;
    max-width: 100vw;
}