.about {
    background-color: #111111;
    height: fit-content;
    flex-direction: row;
    display: flex;
}

.me {
    margin-top: calc(15vh - 25px);
    margin-left: 5vw;
    height: 70vh;
    width: 52.5vh;
    margin-bottom: calc(15vh - 25px);
}

.about h3 {
    margin: 2.5vh 10vw 10vh 10vw;
    color: white;
}

.info {
    height: 80vh;

}