.nav {
    height: 50px;
    background-color: darkslategray;
    flex-direction: row;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.links {
    flex-direction: row;
    display: flex;
}

.nav a {
    color: lightgray;
    text-decoration: none;
}

.nav a:hover {
    color: white;
}

.nav img {
    height: 40px;
}

a h3 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 12px;
}

li {
    margin-right: 20px;
    list-style: none;
}

a h2 {
    font-size: 30px;
    margin-left: 25px;
    margin-top: 6px;
}