.banner { 
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.content {
    flex-direction: column;
    display: flex;
    width: 100vw;
}

.image {
    height: 150px;
    width: auto;
    margin: 10px 50px 0 0;
}



.header {
    text-align: left;
    flex-direction: column;
    display: flex;
    max-width: 60vw;
}

.header h2 {
    color: white;
    font-size: 24pt;
    margin: 10px 0 5px 45px;
}

.experience p, 
.club p{
    color: white;
    margin: 10px 45px 10px 45px;
}

.header h3 {
    font-size: 14pt;
    color: white;
    margin: 0 0 3px 45px;
}

.experience, .club {
    border-radius: 5vw;
    border-color: whitesmoke;
    border-width: 2px;
    border-style:outset;
    width: 70vw;
    margin: auto;
    margin-bottom: 25px;
    max-height: 173px;
    transition: ease 0.5s;
    overflow: hidden;
}

.experience:hover, 
.club:hover{
    max-height: 1000px;
    transition: ease 2s;
}

.club {
    max-height: 125px;
}

.club .image {
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}