.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 25px;
}

.row .project {
  vertical-align: middle;
  position: relative;
  margin: 10px 20px 10px 20px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  transition: ease 0.5s;
}

.project img {
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

/*FIXME: overlay goes over image size*/
.project .overlay {
  transition: .5s ease;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.overlay h3 {
  font-size: 18pt;
  color: white;
}

.overlay h2 {
  font-size: 22pt;
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
}

.overlay hr {
  color: white;
  align-self:flex-start;
}

.project:hover .overlay{
  opacity: 0.7;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.wrapper {
  background-color: #111111;
  flex-direction: column;
  display: flex;
}

.wrapper h1 {
  color: white;
}